<app-header></app-header>
<main class="second-bg">
<p class="question">Як там кпі? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam autem cum fugiat, libero optio veniam? Alias architecto dolorem doloribus dolorum esse iure iusto mollitia nam nulla reprehenderit sapiente, sit voluptas!</p>
  <p class="answer">ВСе чудово ваіавіаів</p>
<p class="question">Як там кпі?</p>
  <p class="answer">ВСе чудово ваіавіаів</p>
<p class="question">Як там кпі?</p>
  <p class="answer">ВСе чудово ваіавіаів</p>
<p class="question">Як там кпі?</p>
  <p class="answer">ВСе чудово ваіавіаів</p>
<p class="question">Як там кпі?</p>
  <p class="answer">ВСе чудово ваіавіаів</p>
<p class="question">Як там кпі?</p>
  <p class="answer">ВСе чудово ваіавіаів</p>
<p class="question">Як там кпі?</p>
  <p class="answer">ВСе чудово ваіавіаів</p>
<p class="question">Як там кпі?</p>
  <p class="answer">ВСе чудово ваіавіаів</p>
</main>

<app-footer></app-footer>
