<footer class="main-bg">
  <div class="list">
    <p>Структура</p>
    <ul>
      <li>Ректорат</li>
      <li>Вчена рада</li>
    </ul>
  </div>
  <div class="list">
    <p>Зв'яжитесь із нами</p>
    <ul class="icons">
      <li><a href="tel:+380677122411"><mat-icon>phone</mat-icon></a></li>
      <li><a href="mailto:nikpaukov8214@gmail.com"><mat-icon>alternate_email</mat-icon></a></li>
      <li><a href="https://telegram.me/alina_purtova" target="_blank"><mat-icon>telegram</mat-icon></a></li>
      <li><a href="https://telegram.me/alina_purtova" target="_blank"><mat-icon svgIcon="whatsapp"></mat-icon></a></li>

    </ul>
  </div>
  <div class="list">
    <p>Структура</p>
    <ul>
      <li>Ректорат</li>
      <li>Вчена рада</li>
    </ul>
  </div>

</footer>
