<mat-card class="example-card main-bg">
  <img mat-card-image [src]="src" alt="IMG should be here">
<mat-card-footer>{{footer}}</mat-card-footer>
  <mat-card-header class="mc-header">
  {{header}}
</mat-card-header>
  <mat-card-content style="margin-bottom: 0; font-size: 120%">
    <p>
      {{content}}
    </p>
  </mat-card-content>
<mat-card-actions>
  <a href="https://material.angular.io/components/card/examples" target="_blank"><button mat-button> Learn more</button></a>
</mat-card-actions>
</mat-card>
